/* Heading font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Sans font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "hljs.css";

@layer base {
    :root {
        --background: 225 20% 96%;
        --foreground: 199 38% 15%;

        --card: 0 0% 98%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 157 16% 32%;
        --primary-foreground: 225 20% 96%;

        --secondary: 199 37% 20%;
        --secondary-foreground: 225 20% 96%;

        --muted: 180 5% 85%;
        --muted-foreground: 216 7% 86%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 5 100% 68%;
        --destructive-foreground: 199 38% 15%;

        --warning: 41 100% 64%;
        --warning-foreground: 199 38% 15%;

        --info: 194 63% 44%;
        --info-foreground: 199 38% 15%;

        --border: 225 3% 76%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.3rem;

        /* hljs */
        --hljs-base: #fafafa;
        --hljs-mono-1: #383a42;
        --hljs-mono-2: #686b77;
        --hljs-mono-3: #a0a1a7;
        --hljs-hue-1: #0184bb;
        --hljs-hue-2: #4078f2;
        --hljs-hue-3: #a626a4;
        --hljs-hue-4: #50a14f;
        --hljs-hue-5: #e45649;
        --hljs-hue-5-2: #c91243;
        --hljs-hue-6: #986801;
        --hljs-hue-6-2: #c18401;
    }

    .dark {
        --background: 228 19% 15%;
        --foreground: 225 20% 96%;

        --card: 228 19% 15%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 156 16% 68%;
        --primary-foreground: 199 38% 15%;

        --secondary: 228 19% 32%;
        --secondary-foreground: 225 20% 96%;

        --muted: 0 0% 30%;
        --muted-foreground: 228 20% 40%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 5 100% 78%;
        --destructive-foreground: 199 38% 15%;

        --border: 229 20% 32%;
        --input: 12 6.5% 15.1%;
        --ring: 24 5.7% 82.9%;

        /* hljs */
        --hljs-base: #282c34;
        --hljs-mono-1: #abb2bf;
        --hljs-mono-2: #818896;
        --hljs-mono-3: #5c6370;
        --hljs-hue-1: #56b6c2;
        --hljs-hue-2: #61aeee;
        --hljs-hue-3: #c678dd;
        --hljs-hue-4: #98c379;
        --hljs-hue-5: #e06c75;
        --hljs-hue-5-2: #be5046;
        --hljs-hue-6: #d19a66;
        --hljs-hue-6-2: #e6c07b;
    }
}
